body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto';
  background-image: url('Images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.main {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px #0c0b0c;
  background-image: linear-gradient(to top, #141214 0%, #8c7f8f 100%);
  font-size: 12px;
}
.main .heading h1{
  color:  #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 120px;
}
p{
  color:  #fff;
  font-weight: bold;
  font-size: 16px;
}
.entries{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields{
  width: 100%;
}

.input-fields .input{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid black;
  padding: 10px;
  width: 100%;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
.btn {
  
  background-image: linear-gradient(to top, #141214 0%, #8c7f8f 100%);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }